---
Checks: '
-*,

bugprone-*

misc-*,

modernize-*,
-modernize-use-trailing-return-type,
-modernize-use-nodiscard,

mpi-*,

openmp-*

performance-*,

portability-*

readability-*,

cppcoreguidelines-*,
-cppcoreguidelines-avoid-c-arrays
'
HeaderFilterRegex: '\.h$'
...
